<a href="https://colab.research.google.com/github/pedro1153/350_ejercicios/blob/main/ejercicio_53_64.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')
print(f"Number of occurrences: {default.count('YES')}")

Number of occurrences: 2

In [2]:
names = ('Monica', 'Tom', 'John', 'Michael')
namesl = sorted(names)
print(tuple(namesl))

sorted_names = tuple(sorted(names))
print(sorted_names)

('John', 'Michael', 'Monica', 'Tom')
('John', 'Michael', 'Monica', 'Tom')

In [3]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
print('Ascending:', tuple(sorted(info, reverse = False)))
print('Descending:', tuple(sorted(info, reverse = True)))

asc = tuple(sorted(info, key=lambda item: item[1]))
desc = tuple(sorted(info, key=lambda item: item[1], reverse=True))
print(f'Ascending: {asc}')
print(f'Descending: {desc}')

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))
Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

In [4]:
stocks = (
    ('Apple Inc', ('AAPL.US', 310)),
    ('Microsoft Corp', ('MSFT.US', 184)),
)
print(stocks[0][1][0])

AAPL.US

In [5]:
cities = ['Los Angeles', 'New York', 'Chicago']
cities.append('Houston')
print(f'{cities}')

['Los Angeles', 'New York', 'Chicago', 'Houston']

In [6]:
idx = ['001', '002', '001', '003', '001']
print('Number of occurrences:', idx.count('001'))

print(f"Number of occurrences: {idx.count('001')}")

Number of occurrences: 3
Number of occurrences: 3

In [ ]:
text = 'Python programming'
text1 = text.lower()
text2 = text1.replace(' ','')
text3 = sorted(set(text2))
print(text3)

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [ ]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0, 'phone.jpg')
filenames.remove('ball.png')
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

In [ ]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']
day1.extend(day2)
print(day1)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

In [ ]:
techs = ('python', 'java', 'sql', 'aws')
techs1 = sorted(techs)
techs1 = tuple(techs1)
print(techs1)

('aws', 'java', 'python', 'sql')

In [17]:
hashtags = ['summer', 'time', 'vibes']
str01 = hashtags.insert( 0, '#')
str02 = hashtags.insert( 2, '#')
str03 = hashtags.insert( 4, '#')
strhast = "".join(hashtags)
print(strhast)

hashtags1 = ['summer', 'time', 'vibes', 'prueba']
print('#' + '#' .join(hashtags1))
print('%' + '%' .join(hashtags1))

#summer#time#vibes
#summer#time#vibes#prueba
%summer%time%vibes%prueba