<a href="https://colab.research.google.com/github/pedro1153/350_ejercicios/blob/main/ejercicio_41_52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
text = 'Open,High,Low,Close'
print(text.split(sep = ','))

['Open', 'High', 'Low', 'Close']

In [2]:
text = """Python is a general-purpose language. 
Python is popular."""
print(text.splitlines())

['Python is a general-purpose language. ', 'Python is popular.']

In [4]:
num = 34
print(str(num). rjust(6, '0'))
print(str(num). zfill(6))

000034
000034

In [5]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
url01 = url[-48:]
url02 = url01.replace('-', ' ')
print(url02)

name = url.split('/')[-1]
print(name)
name = name.replace('-', ' ')
print(name)

sciezka data scientist machine learning engineer
sciezka-data-scientist-machine-learning-engineer
sciezka data scientist machine learning engineer

In [11]:
subjects = {'mathematics', 'biology'}
subjects = sorted(subjects)
subjects02 = subjects.append('english')
print(subjects)

subjects = {'mathematics', 'biology'}
subjects.add('english')
print(subjects)

['biology', 'mathematics', 'english']
{'biology', 'english', 'mathematics'}

In [30]:
text = 'Programming in python.'
vowels = {'a', 'e', 'i', 'o', 'u'}
text01 = text.lower()
text02 = text01.replace(' ', '')
text03 = text02.replace('.', '')
text04 = set(text03)
string = ''.join( x for x in text04 if x not in vowels)
print('Number of items:',len(string))

text = 'Programming in python.'
text = text.lower()
text = text.replace(' ', '')
text = text.replace('.', '')
vowels = {'a', 'e', 'i', 'o', 'u'}
letters = set(text)
consonants = letters.difference(vowels)
print(f'Number of items: {len(consonants)}')

Number of items: 8
Number of items: 8

In [37]:
A = {2, 4, 6, 8}
B = {4, 10}
print('Symmetric difference:', A ^ B)

sym_diff = A.symmetric_difference(B)
print(f'Symmetric difference: {sym_diff}')

Symmetric difference: {2, 6, 8, 10}
Symmetric difference: {2, 6, 8, 10}

In [44]:
ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}
Selec_ID = ad1_id ^ ad2_id
print('Selected ID:', Selec_ID)

result = ad1_id.symmetric_difference(ad2_id)
print(f'Selected ID: {result}')

Selected ID: {'001', '007'}
Selected ID: {'001', '007'}

In [50]:
is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}
Cust_ID = is_bought & is_clicked
print(f'Customer ID: {Cust_ID}')

result = is_clicked.intersection(is_bought)
print(f'Customer ID: {result}')

Customer ID: {'9005', '9002'}
Customer ID: {'9005', '9002'}

In [56]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
dji = dji1 + dji2
print(dji)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [12]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
dji1l = list(dji1)
dji2l = list(dji2)
res = []
res.append(tuple(dji1l))
res.append(tuple(dji2l))
rest = tuple(res)
print(rest)

result = (dji1, dji2)
print(result)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))
(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [25]:
members = (('Kate', 23), ('Tom', 19))
memb = ('John', 26)
print((members[0], memb, members[1]))

members = (members[0], ('John', 26), members[1])
print(members)

(('Kate', 23), ('John', 26), ('Tom', 19))
(('Kate', 23), ('John', 26), ('Tom', 19))